#job main {
  background-position: left top;
  background-repeat: repeat-x;
  padding-bottom: 100px;
}
#job .white {
  color: #fff !important;
}
#job .topo {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: inherit;
  color: #fff;
}
#job .topo img {
  margin: 0 auto;
  display: block;
}
#job .topo h2,
#job .topo p {
  text-align: center;
}
#job .topo p {
  margin: 0 auto;
  margin-bottom: 20px;
  float: none;
}
#job .topo .logo-job {
  margin-top: 40px;
}
#job .topo.primeira-jarda {
  background-image: url(../images/jobs/primeira-jarda/topo-primeira-jarda.jpg);
}
#job .font-color {
  margin-top: 150px;
  text-align: center;
}
#job .font-color .font {
  font-family: 'Roboto Slab', sans-serif;
}
#job .font-color .font p {
  font-size: 20px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
#job .font-color .color .box {
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}
#job .font-color .color .box .cl {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
#job .apr {
  margin-top: 65px;
  text-align: center;
}
#job .apr p {
  margin: 0 auto;
  float: none;
  margin-bottom: 50px;
}
#job .apr img {
  margin: 0 auto;
}
#job .apr #slider-jobs {
  margin-bottom: 80px;
}
#job .apr.primeira-jarda {
  background: #882377;
  padding-top: 60px;
  padding-bottom: 100px;
}
#job .apr.primeira-jarda h2,
#job .apr.primeira-jarda p,
#job .apr.primeira-jarda a {
  color: #fff;
}
#job .visite {
  margin-top: 80px;
  text-align: center;
}
#job .portalsatc .topo {
  background-image: url(../images/jobs/portalsatc/topo-portalsatc.jpg);
}
#job .portalsatc .topo p {
  color: #808080;
}
#job .portalsatc #slider-jobs {
  margin-top: 300px;
}
#job .portalsatc #slider-jobs .carousel-control {
  color: #ff5353;
  text-shadow: none;
}
#job .portalsatc .font-color .font {
  font-family: 'Roboto', sans-serif;
}
#job .portalsatc .tela-img {
  margin-top: 120px;
}
#job .portalsatc .visite {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #193728;
  background-image: url(../images/jobs/portalsatc/bg-visite.png);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#job .portalsatc .visite a {
  color: #fff;
  font-size: 28px;
}
@media (max-width: 768px) {
  #job .topo .logo-job {
    margin-top: 100px;
  }
  #job .font-color .color {
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  #job .font-color {
    margin-top: 0px;
  }
  #job .portalsatc .tela-img {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  #job .topo .logo-job {
    margin-top: 150px;
  }
}
