/* ===== PORTFOLIO PAGE STYLES ===== */
.project section {
  height: 100dvh;
  min-height: 720px;
  padding: var(--space-16);
  position: relative;
  background-color: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
}

.project .parallax {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: parallax linear;
}

.project img:not(.project-dataviz) {
  border-radius: var(--border-radius-1);
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project ul {
  padding-left: var(--space-3);
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.project ul > li:not(:last-child) {
  margin-bottom: var(--space-2);
}

.project h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 800;
  color: var(--text-neutral-color-high-emphasis);
  margin-bottom: var(--space-4);
}

.project h3 {
  font-weight: 800;
  margin-bottom: var(--space-2);
}

.project p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.project .float-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  min-height: 100%;
  background-color: var(--background-primary-color-high-emphasis);
  z-index: -1;
}

.project .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-12);
  overflow: hidden;
}

.project .column {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--space-4);
  flex: 1;
}

.project .row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  flex: 1;
}

.project .main-title {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
}

.project .description {
  font-size: 1.25rem;
  line-height: 2.75rem;
  margin-bottom: 0;
}

.project .description-items {
  list-style: none;
  padding: 0;
  padding-top: var(--space-4);
  border-top: 1px solid var(--border-neutral-color-low-emphasis);
  margin: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.project .description-items > li {
  padding: 0;
}

.project .description-items > li > span {
  width: 100%;
  display: block;
}

.project .description-items li > span:not(:first-of-type) {
  font-weight: bold;
}

.project .grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);
}

.project .grid-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
}

.project .card {
  padding: var(--space-3);
  background-color: var(--background-neutral-color-low-emphasis);
  border-radius: var(--border-radius-1);
  border: 1px solid #f5f5f5;
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.project .card h2 {
  font-size: 4rem;
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.project .card h3 {
  margin-top: var(--space-2);
}

.project .card.large {
  grid-row: span 2;
  align-self: stretch;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.project .card .icon {
  width: 48px;
  height: auto;
}

.project .card .icon-large {
  width: 80px;
  height: auto;
}

.project .card .quote {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}

@keyframes parallax {
  from {
    background-position: top 0px center;
  }
  to {
    background-position: top -800px center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
