/* ===== PORTFOLIO PAGE STYLES ===== */
section.parallax {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: parallax linear;
}

section.project {
  min-height: 100dvh;
  padding: var(--space-16);
  position: relative;
  background-color: initial !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-6);
}

section.project ul {
  padding-left: var(--space-3);
}

section.project ul > li:not(:last-child) {
  margin-bottom: var(--space-2);
}

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-12);
  overflow: hidden;
}

.project-content .column {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.project-content .row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.project-main-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-1);
  transition: filter var(--transition);
}

.project-main-image:hover {
  filter: brightness(1.05);
}

.project-title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-neutral-color-high-emphasis);
  margin-bottom: var(--space-4);
}

.project-description {
  font-size: 1.5rem;
  line-height: 2.75rem;
  margin-bottom: 0;
}

.project-description-items {
  list-style: none;
  padding: 0;
  padding-top: var(--space-4);
  border-top: 1px solid var(--border-neutral-color-low-emphasis);
  margin: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.project-description-items > li {
  padding: 0;
}

.project-description-items > li > span {
  width: 100%;
  display: block;
}

.project-description-items li > span:not(:first-of-type) {
  font-weight: bold;
}

.project-images {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-2);
}

.project-images img {
  width: 100%;
  border-radius: var(--border-radius-1);
}

.project-float-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  min-height: 100%;
  background-color: var(--background-primary-color-high-emphasis);
  z-index: -1;
}

.project-timeline {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8);
}

.project-timeline-item {
  flex: 1;
}

.project-timeline-item > .title {
  margin-bottom: var(--space-4);
}

.project-timeline-bar {
  width: 100%;
  background-color: var(--background-secondary-color-high-emphasis);
  border-radius: var(--border-radius-1);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.project-metric,
.project-images-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-4);
}

.project-metric-card,
.project-metrics-results-card,
.project-images-examples-card {
  padding: var(--space-3);
  background-color: var(--background-neutral-color-low-emphasis);
  border-radius: var(--border-radius-1);
  border: 1px solid #f5f5f5;
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-2);
  overflow: hidden;
}

.project-metric-card.large,
.project-images-examples-card.large {
  grid-row: span 2;
  align-self: stretch;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.project-metric-card.large img,
.project-images-examples-card.large img {
  width: auto;
  height: 100%;
}

.project-metric-card .icon {
  width: 48px;
  height: auto;
}

.project-metric-card p {
  line-height: 1.25;
  font-size: 1rem;
}

.project-bullets {
  font-size: 1.25rem;
}

.project-diagnostic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-14);
}

.project-diagnostic-title {
  margin-bottom: var(--space-2);
}

.project-metrics-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--space-14);
}

.project-metrics-results-card {
  padding: var(--space-6);
}

.project-metrics-results-card img {
  width: 64px;
}

.project-metrics-results-card-title {
  font-size: 3rem;
}

.project-metrics-results-card-title > span {
  color: var(--text-primary-color-high-emphasis);
}

.project-metrics-results-card-description {
  font-size: 1.25rem;
  font-weight: bold;
}

.project-images-examples-card {
  padding: 0;
}

.project-dataviz {
  width: 100%;
}

@keyframes parallax {
  from {
    background-position: top 0px center;
  }
  to {
    background-position: top -800px center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
